body
{
    padding: 0;
    margin: 0;
    /* background-color: rgb(221, 221, 221); */

}
img
{
    width: 50%;
}
#logo,#headingname
{
    width:50px;
    position: absolute; /* come too center */
    left: 5%;
    top: 15px;
    border-radius: 17px;
}
#headingname
{
    margin-left: 5rem;
    top: 0px;
    font-family: 'Calibri Light' , 'Times New Roman', 'Trebuchet MS';
    font-size: 30px;
    color: white;
}
nav
{
    height: 80px;
    /* background: #828588; */
    background: #0a372e;

}   

ul
{
    float: right;
    margin: 0px;
    padding: 0px;
    margin-right: 25px;
    
}

li
{
    display: inline-block;
    line-height: 50px;
    margin: 15px;
}

a
{
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}


#auth
{
    /* margin-left: 5px; */
    color: white;
}

footer
{
  margin-top: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  box-sizing: border-box;
  padding: 5px 0px;
  /* border-top: 1px solid rgba(0, 0, 0, 0.533); */
  border-top: 1px solid #a2e2c8;
    background: #0a372e;
    color: white;


}

.container
{
    box-shadow: 11px 12px 5px #888;
    border: 1px solid #000;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: lavender;
}





.headcontainer
{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 5px;
    align-items: center;
}
#singleresto
{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: -27px;
}

.restocontainer
{
    height: 66vw;
    margin-top: 1.7rem;
    background-color: #f9fcff;
    opacity: 0.6;
    /* background-repeat: no-repeat;
    background-size: 100% 100%; */
}
.restoheadcontainer
{
    display: flex;
    align-items: center;
}

.restoname
{
    font-family: 'ALGERIAN' , 'Times New Roman', 'Trebuchet MS';
    font-size: 2.5rem;
    border-bottom: 3px dashed black;
    margin-left: 1.25rem;
}

.restoreview , .restotype
{
    background-color: #0f0f0f;
    padding: 8px 30px;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 25px;
    margin-left: 1.25rem;
}

.restotype
{
    background-color: #001cff;
}

.restoloc , .restofacil , .restocontact
{
    box-sizing: border-box;
    border: 2px solid black;
    width: 22rem;
    border-radius: 14px;
    height: 22rem;
    font-size: 30px;
    padding: 5px 12px;
    margin: 10px 5px;
    box-shadow: 18px 16px 12px #0f1113;
}
.fa-map-marker,
.fa-map,
.fa-car,
.fa-money,
.fa-envelope,
.fa-phone
{
    font-size: 25px;
    padding: 5px 5px;
}



.restomaincontainer{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
}